@use "global/global-dir" as *;

/*--- Links            -------*/
a {
  color: $link-text-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: #373839;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
  }

  &:focus-visible {
    outline: 0;
  }

  &:has(img) {
    display: inline-grid;

    &:hover, &:focus {
      background: transparent;
      padding: 0;

      img {
        outline: 3px solid #373839;
        border-radius: 10px;
        padding: 5px 0;
      }
    }
  }
}