doctype html
html(lang="en")
    head
        title='Article List: The Portfolio of Sophie Thomas'
        include _includes/head.jade
        meta(name='twitter:description', content='Sophie Thomas is a Web Technologies student at Huddersfield University who has a passion for Web Design.')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include _includes/header.jade
            
            div#articleList.col-12
                div.line: h1 articles
                
                include _includes/articlelist.jade
            
            include _includes/footerrtn1.jade
            
    include _includes/scripts.jade