doctype html
html(lang="en")
    head
        title='The Portfolio of Sophie Thomas'
        include _includes/head.jade
        meta(name='twitter:description', content='Sophie Thomas is a Web Technologies student at Huddersfield University who has a passion for Web Design.')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body

        div.siteBorders
        
        div#container   
        
            include _includes/header.jade
            
            include _includes/about.jade
            
            include _includes/work.jade
            
            include _includes/projects.jade
            
            include _includes/footer.jade
            
    include _includes/scripts.jade