// Global Meta Tags 
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='author' content='Sophie Thomas')
meta(name='description' content='I design and develop accessible and user-friendly websites.')
meta(name='keywords' content='Web, Design, UI/UX Design, Web Design, Web Development, Videography, Web Accessibility, TYPO3')
link(rel='stylesheet' href='/resources/css/base.css' type='text/css')
link(href='/resources/images/favicon.png' rel='shortcut icon' type='image/png')

// Open Graph Meta Tags
meta(property='og:url' content='https://sophie-thomas.github.io/')
meta(property='og:type' content='website')
meta(property='og:title' content='The Portfolio of Sophie')
meta(property='og:description' content='I design and develop accessible and user-friendly websites.')
meta(property='og:image' content='https://sophie-thomas.github.io/resources/images/sophie_headshot.jpg')

// Twitter Meta Tags
meta(name='twitter:card' content='summary')
meta(property='twitter:domain' content='sophie-thomas.github.io')
meta(property='twitter:url' content='https://sophie-thomas.github.io/')
meta(name='twitter:title' content='The Portfolio of Sophie')
meta(name='twitter:description' content='I design and develop accessible and user-friendly websites.')
meta(name='twitter:image' content='https://sophie-thomas.github.io/resources/images/sophie_headshot.jpg')

// Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-6CQC6VB9LZ')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-6CQC6VB9LZ');