.testimonial 
  p 
    | "I asked Sophie to create a modern and workable website for a male voice choir during a rebranding phase. Sophie took account of the brief, which was to create a modern, impactful public facing site which dovetailed well with the promotional aspect we wanted, but more importantly worked with me to create a site with a members' area which helps to run the events, rehearsals and social life of the choir. She took particular account of the need for a straightforward, uncomplicated navigation process for those members for whom IT can prove to be a bit of a challenge. She also took the time to add a personal touch by tutoring me in how to edit and update the site content, providing me with easy to follow user-guides on all the aspects of managing membership and content. Feedback from the choir, supporters and members has been particularly positive, and from a personal point of view I cannot thank her enough."

  p.author 
    | 🗣️ from Dave Barnett, Promotions at Huddersfield Men's Voices

.testimonial  
  p 
    | “I approached Sophie to help turn an idea I had for a mates 30th lockdown present into a reality as I knew she would be able to execute it far quicker than I could. But what she delivered was beyond my expectation. She consulted with me during the process about little ideas she thought might enhance the end result and guided me through the process, keeping me informed as it progressed. I couldn't love the end result more and will definitely be in-listing her again to support me in digital projects”

  p.author 
    | 🗣️ from Becky Wootton

.testimonial  
  p 
    | "I'm blown away!!! Thank you so much Sophie. I'm so happy with everything you've done, I'm outstanded by your professionalism and as for the time frame :O"

  p.author 
    | 🗣️ from Melissa Roberts, founder of kidcrowd and Beanie Media

.testimonial  
  p 
    | "I had a company name in mind but not really any clue on the branding. I had colours and a font in mind which I passed onto Sophie with not much spec to go off. Sophie came back with several ideas and between us we narrowed it down. The logo is simple and modern and exactly what I wanted (even though I didn't really know what I wanted at the time!). The logo works really well and I've had a lot of positive feedback from potential clients and also a client asking for Sophie's details as they loved her work. Thank you again Sophie!"

  p.author 
    | 🗣️ from Bryde Town, owner of TownTech

.testimonial  
  p 
    | "I can't say enough about the excellent work that Sophie has done with our website, Facebook and Twitter accounts. Sophie took our thoughts and suggestions about what we needed and surpassed our expectations. At each stage she listened to what we were aiming for then took it away to provide us with a clear, concise and user friendly website. Sophie understood the lack of knowledge that we had for social media and website design. She was patient and considerate in her explanations, designing us comprehensive instruction booklets that we are able to access and use when needed. We would use Sophie's skills again and recommend her to those who need help with their website and social media sites."

  p.author 
    | 🗣️ from Dawn Theaker, Service Manager at Carers Count Selby District