doctype html
html(lang="en")

  head
    title The Portfolio of Sophie
    include includes/head.pug 

  body
    include includes/skip-link.pug

    include includes/navigation.pug

    main#main-content

      .grid-container
        .span-12
          h1 Hello, I'm Sophie
          
      .grid-container
        .span-6.md-span-12
          p
            strong
              | I love turning complex problems into simple, user-friendly and accessible websites, while collaborating closely with others to bring their ideas to the screen. 

          p
            | When I'm not crafting websites, I'm usually off 
            a(
              href="https://www.tiktok.com/@fromsophie" target="_blank" rel="noreferrer" title="Links to: fromsophie on TikTok"
            ) exploring waterfalls
            |  or out 
            a(
              href="https://www.youtube.com/@fromsophiecycles" target="_blank" rel="noreferrer" title="Links to: Sophie Cycles on YouTube"
            ) riding mountain biking trails
            | .

          h2 My skills
          p
            | TYPO3 • Fluid Templating • Web Design and Development • HTML • CSS (including SASS and SCSS) • Bootstrap • jQuery • Git • SQL • Digital Accessibility (WCAG) • Video Production • PRINCE2 Agile&reg; • Project Management • Mentoring
        
        .span-5.offset-7.md-span-12.md-offset-0
          figure
            img(src="/resources/images/sophie-headshot.jpg" alt="Sophie smiling.")

    include includes/footer/footer-index.pug

  include includes/scripts.pug