//about.jade

div#about
    div.animatedText.col-12
        h3 i spend my time...
        h2
            span.element

    div.aboutText.col-12
        p.main I am a Web Technologies student currently working on producing content for my Web Design brand #[a(href="https://www.youtube.com/user/STWebDesigner" target="_blank" class="link") STWebDesigner] and producing blogs and video content for #[a(href="http://blogs.hud.ac.uk/students/myuni/sophie-thomas/" target="_blank" class="link") Huddersfield Student Lives].
        p In my spare time I write articles about my experiences in life, hobbies and interests. View the full article list here: #[a(href="articles.html" class="link") My Articles]
        div.button: p #[a(href="mailto:sophie-thomas@outlook.com" class="link") get in touch]
        
    include achievements.jade