//achievements.jade

div#achievements.col-12
    div.line: h1 my acheivements

    div.achievementList

        div.achievement
            a(href="#" target="_blank" class="newLink"): ul: li Volunteered at Reasonsto: Design, Code &amp; Create 2016
            p.date: em 4th September - 7th September 2016

        div.achievement
            a(href="#" target="_blank" class="newLink"): ul: li Talked at Selby College about Side Projects
            p.date: em 26th May 2016

        div.achievement
            a(href="#" target="_blank" class="newLink"): ul: li Interviewed Travis Neilson
            p.date: em 24th September 2015

        div.achievement
            a(href="#" target="_blank" class="newLink"): ul: li Completed my first client project
            p.date: em 18th August 2015

        div.achievement
            a(href="#" target="_blank" class="newLink"): ul: li Launched STWebDesigner
            p.date: em 29th August 2014