//articlelist.jade

div.articles
    div.article
        a(href="articles/2017-03-01-nokia-3310.html" class="newLink"): ul: li nokia 3310: would I buy it?
        p.date: em Published: 1st March 2017

    div.article
        a(href="articles/2017-01-01-review.html" class="newLink"): ul: li a look back at 2016
        p.date: em Published: 1st January 2017

    div.article
        a(href="articles/2016-12-10-my-student-life.html" class="newLink"): ul: li a snapshot of my student life
        p.date: em Published: 10th December 2016

    div.article
        a(href="articles/2016-11-12-york-dungeons-trip.html" class="newLink"): ul: li history made fun at the york dungeons
        p.date: em Published: 12th Novemeber 2016

    div.article
        a(href="articles/2016-09-10-reasonsto.html" class="newLink"): ul: li reasonsto: design, code &amp; create 2016
        p.date: em Published: 10th September 2016

    div.article
        a(href="articles/2016-08-20-make-ideas-happen.html" class="newLink"): ul: li make ideas happen
        p.date: em Published: 20th August 2016

    div.article
        a(href="articles/2016-06-11-and-on-that-bombsh.html" class="newLink"): ul: li and on that bombsh...
        p.date: em Published: 11th June 2016

    div.article
        a(href="articles/2016-06-04-my-first-ever-talk.html" class="newLink"): ul: li my first ever talk...
        p.date: em Published: 4th June 2016

    div.article
        a(href="articles/2016-05-21-should-you-use-a-website-builder.html" class="newLink"): ul: li should you use a website builder?
        p.date: em Published: 21st May 2016

    div.article
        a(href="articles/2016-04-22-why-do-I-keep-a-diary.html" class="newLink"): ul: li why do i keep a diary
        p.date: em Published: 22nd April 2016

    div.article
        a(href="articles/2016-03-23-increase-productivity.html" class="newLink"): ul: li how can i increase my productivity?
        p.date: em Published: 23rd March 2016

    div.article
        a(href="articles/2016-03-02-the-working-day-games-jam.html" class="newLink"): ul: li the working day games jam
        p.date: em Published: 2nd March 2016

    div.article
        a(href="articles/2016-02-19-how-to-motivate-yourself.html" class="newLink"): ul: li how to motivate yourself
        p.date: em Published: 19th February 2016

    div.article
        a(href="articles/2016-01-20-life-as-a-student.html" class="newLink"): ul: li life as a student
        p.date: em Published: 20th January 2016

    div.article
        a(href="articles/2016-01-01-my-goals-for-2016.html" class="newLink"): ul: li my goals for 2016
        p.date: em Published: 1st January 2016

    div.article
        a(href="articles/2015-12-16-what-am-I-reading.html" class="newLink"): ul: li what am i reading?
        p.date: em Published: 16th December 2015

    div.article
        a(href="articles/2015-11-11-interview-with-travis-neilson.html" class="newLink"): ul: li interview with travis neilson
        p.date: em Published: 11th November 2015

    div.article
        a(href="articles/2015-10-16-wentworth-prison-season-3-review.html" class="newLink"): ul: li wentworth prison: everyone has a weak spot
        p.date: em Published: 16th October 2015

    div.article
        a(href="articles/2015-09-04-google-redesigned.html" class="newLink"): ul: li google: re-designed
        p.date: em Published: 4th September 2015

    div.article
        a(href="articles/2015-07-15-work-placement-at-space-creative.html" class="newLink"): ul: li work placement at space creative
        p.date: em Published: 15th July 2015

    div.article
        a(href="articles/2015-06-25-my-trip-to-unicorn-island.html" class="newLink"): ul: li my trip to unicorn island
        p.date: em Published: 25th June 2015

    div.article
        a(href="articles/2015-06-08-are-you-really-being-productive.html" class="newLink"): ul: li are you really being productive?
        p.date: em Published: 8th June 2015

    div.article
        a(href="articles/2015-04-17-what-is-responsive-design.html" class="newLink"): ul: li what is responsive design?
        p.date: em Published: 17th April 2015

    div.article
        a(href="articles/2015-02-01-dont-compare-your-chapter-1.html" class="newLink"): ul: li don't compare your chapter 1 to someone else's chapter 20!
        p.date: em Published: 1st February 2015

    div.article
        a(href="articles/2015-01-10-new-year-resolutions-2015.html" class="newLink"): ul: li my new year resolutions (2015)
        p.date: em Published: 10th January 2015

    div.article
        a(href="articles/2014-12-09-zoella-girl-offline.html" class="newLink"): ul: li zoella: girl offline
        p.date: em Published: 9th December 2014

    div.article
        a(href="articles/2014-11-20-wentworth-prison-season-2-review.html" class="newLink"): ul: li wentworth prison: the queen and the freak
        p.date: em Published: 20th November 2014

    div.article
        a(href="articles/2014-07-20-it-classroom-assistant.html" class="newLink"): ul: li it classroom assistant
        p.date: em Published: 20th July 2014

    div.article
        a(href="articles/2014-07-15-the-great-yorkshire-show.html" class="newLink"): ul: li the great yorkshire show 2014
        p.date: em Published: 15th July 2014

    div.article
        a(href="articles/2014-07-01-coronation-street-the-tour.html" class="newLink"): ul: li coronation street: the tour
        p.date: em Published: 1st July 2014

    div.article
        a(href="articles/2013-10-28-by-any-means-review.html" class="newLink"): ul: li by any means: series review
        p.date: em Published: 28th October 2013

    div.article
        a(href="articles/2013-10-27-hello.html" class="newLink"): ul: li Hello
        p.date: em Published: 27th October 2013