//footerrtn1.jade

footer
    div.footerWrapper
        div.rtn
            a(href="index.html")
                img(src="../assets/images/icons/arrow.png" alt="Return")
                h6 return home
            
        div.copyright
            p 2017 &copy; sophie thomas. all rights reserved.