//footerrtn2.jade

footer
    div.footerWrapper
        div.rtn
            a(href="../articles.html")
                img(src="../assets/images/icons/arrow.png" alt="Return")
                h6 return to article list
            
        div.copyright
            p 2017 &copy; sophie thomas. all rights reserved.