//header.jade

div#header
    div.headerWrapper
        a(href="index.html")
            div.profile.col-6
                div.profileImg
                    img(src="http://sophiethomas.co.uk/assets/images/author.jpg" alt="me")
                div.profileText
                    p.subTitle the portfolio of
                    p.mainTitle sophie thomas

        div.socialIcons.col-6
            a(href="https://www.facebook.com/sophiethomasuk/" target="_blank"): img(src="sophiethomas.co.uk/assets/images/icons/facebook.png" alt="Facebook")
            a(href="https://twitter.com/sophiethomasuk_" target="_blank"): img(src="sophiethomas.co.uk/assets/images/icons/twitter.png" alt="Twitter")
            a(href="https://www.instagram.com/sophiethomasuk" target="_blank"): img(src="sophiethomas.co.uk/assets/images/icons/instagram.png" alt="Instagram")
            a(href="https://www.linkedin.com/in/sophie-thomas-742652109/" target="_blank"): img(src="assets/images/icons/linkedin.png" alt="Linkedin")