//head.jade

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='Sophie Thomas')
meta(name='description', content='Sophie Thomas is a Web Technologies student at Huddersfield University who has a passion for Web Design.')
meta(name='keywords', content='Web, Design, UI, UX, Web Design, Web Development')

link(rel='stylesheet', href='assets/css/main.css', type='text/css')
link(href='http://sophiethomas.co.uk/assets/images/favicon.png', rel='shortcut icon', type='image/png')

meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@SophieThomas97')
meta(name='twitter:title', content='Sophie Thomas')