//projects.jade

div#projects.col-12
    div.line: h1 my projects

    div.projectList
    
        div.project
            a(href="https://www.youtube.com/user/STWebDesigner" target="_blank" class="newLink"): ul: li STWebDesigner
            p: em.date Launched: 29th August 2014 &nbsp; #[a(class="ongoing") ongoing]
            p STWebDesigner is a place where I share tips, tutorials and news about Web Design. Through the video tutorials I produce, I teach you how to design and code features that can be used on your next project as well as showing you how to build websites from start to finish. 
            
        div.project
            a(href="http://carerscountselbydistrict.org.uk/" target="_blank" class="newLink"): ul: li Carers Count Selby District
            p: em.date Completed: 18th August 2015 &nbsp; #[a(class="completed") completed]
            p To allow the charity to inform carers about they do I designed and developed a responsive website that allows the Carers Count team to edit the content, upload documents and add news to the website. 