/*--- Mixins           -------*/

@mixin heading-1 {
  font-size: $heading-1-size;
  line-height: #{$heading-1-size * $line-height};
  word-spacing: #{$heading-1-size * $word-spacing};
}
@mixin heading-2 {
  font-size: $heading-2-size;
  line-height: #{$heading-2-size * $line-height};
  word-spacing: #{$heading-2-size * $word-spacing};
}
@mixin paragraph {
  font-size: $paragraph-size;
  line-height: #{$paragraph-size * $line-height};
  word-spacing: #{$paragraph-size * $word-spacing};
}
@mixin text-alignment($prefix, $breakpoints) {
  .align-left { text-align: left; }
  .align-right { text-align: right; }
  .align-center { text-align: center; }
  
  @each $breakpoint, $value in $breakpoints {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      .#{$breakpoint}-#{$prefix}-left { text-align: left; }
      .#{$breakpoint}-#{$prefix}-right { text-align: right; }
      .#{$breakpoint}-#{$prefix}-center { text-align: center; }
    }
  }
}