/*--- Base styles            -------*/
html {
  font-size: $base-html-size;
}

body {
  display: grid;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: $primary-font;
  @include paragraph;
  margin: 0px;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}
strong {
  font-weight: bold;
}
hr {
  background-color: $border-color;
  border-radius: 10px;
  border: 0;
  margin: 0;
  height: 12px;
}

/* Text Alignment */
@include text-alignment('align', $breakpoints);
  
/* Skip link for accessibility */
#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.skip-link {
  left: -9999px;
  padding: 8px;
  position: absolute;

  &:active, &:focus {
    left: 16px;
    top: 16px;
    z-index: 9999;
    background-color: $primary-background-color;
    color: $primary-text-color;
  }
}
  
/* Character styling */
h1, h2, p {
  margin: 0;
}
h1 {
  @include heading-1;
  margin-bottom: 20px;
}
h2 {
  @include heading-2;
  margin: 20px 0 10px;
}
p {
  margin-bottom: 2.5rem;
}
  
/* Links */
a {
  color: $link-text-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    border: 2px solid $border-color;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
  }
}
  
/* Buttons */
button {
  background: inherit;
  font-family: $primary-font;
  @include paragraph;
  word-wrap: break-word;
  border: 0;
  outline: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
} 