doctype html
html(lang="en")

  head
    title kidcrowd: The Portfolio of Sophie
    include ../includes/head.pug

  body 
    include ../includes/skip-link.pug

    include ../includes/navigation.pug

    main#main-content
      .grid-container
        .span-12
          h1 Designing kidcrowd, a gift-giving website
          p
            strong ~
            |  Website Design • UI/UX Design • Prototyping
            strong ~

      .grid-container
        .span-12
          p.project-intro
            | kidcrowd is a solution for parents who are fed up with their child receiving unwanted gifts. This website makes giving children's gifts meaningful and sustainable - which will result in children being better with money and a decrease in the 5.1 billion pounds of unwanted gifts that end up in landfill every year.

          p.project-intro
            | Working with the Founder, Melissa, I designed and prototyped the entire website in under 5 days. Using Adobe XD, I crafted a website that provides a consistent, family-friendly feel throughout ready for Melissa to present to potential investors.

          figure
            img(src="/resources/images/case-studies/kidcrowd/homepage_banner.jpg" alt="Desktop mockup of the kidcrowd home page inside a laptop screen.")

      .grid-container
        .span-12
          p 
            | Prior to starting the project, Melissa and I talked through the requirements of the project and timescales. Due to the date of the investor pitch, this needed to be completed within 5 days. We discussed what pages were needed, the actions the users would need to complete and the direction she wanted the overall feel of the website to go in. 
          
          p 
            | Along with providing the kidcrowd brand guidelines and assets, she also sent over a draft mockup she'd done as a base for me to work from. Using that, I enhanced the design to ensure consistency throughout the pages and the overall site was easy to use and navigate for parents. 

      .grid-container.media-height-match
        .span-6.md-span-12
          figure
            img.contain(src="/resources/images/case-studies/kidcrowd/home-laptop.png" alt="Desktop mockup of kidcrowd's Home page.") 

        .span-6.md-span-12
          figure
            img.contain(src="/resources/images/case-studies/kidcrowd/ourstory-laptop.png" alt="Desktop mockup of kidcrowd's Our Story page.") 

      .grid-container.media-height-match
        .span-6.md-span-12
          figure
            img.contain(src="/resources/images/case-studies/kidcrowd/editcrowd-laptop.png" alt="Desktop mockup of kidcrowd's Create your Saving Crowd page.") 

        .span-6.md-span-12
          figure
            img.contain(src="/resources/images/case-studies/kidcrowd/yourcrowd-laptop.png" alt="Desktop mockup of kidcrowd's Edwards Birthday Spend page inside the dashboard.") 

      .grid-container
        .span-12 
          figure
            img(src="/resources/images/case-studies/kidcrowd/dashboard-laptop.png" alt="Desktop mockup of kidcrowd's Dashboard.") 
      .grid-container
        .span-12
          p 
            | I always consider how the site will look on a mobile device, since this is where the vast majority of web browsing now takes place. This also ensures the elements used within the design are accessible across all screen sizes. 

      .grid-container
        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/gifters_1.png" alt="Mobile mockup of kidcrowd's Splash screen inside a phone screen.") 
        
        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/gifters_2.png" alt="Mobile mockup of kidcrowd's Edwards Birthday Spend page inside a phone screen.") 

        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/gifters_3.png" alt="Mobile mockup of kidcrowd's We're processing your donation page inside a phone screen.") 

        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/parents_1.png" alt="Mobile mockup of kidcrowd's The Money Pot page inside a phone screen.") 

      .grid-container
        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/parents_2.png" alt="Mobile mockup of kidcrowd's Your Account page inside a phone screen.") 

        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/parents_3.png" alt="Mobile mockup of kidcrowd's Create your Savings Crowd page inside a phone screen.") 
        
        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/parents_4.png" alt="Mobile mockup of kidcrowd's Create your own personalised page inside a phone screen.") 

        .span-3.md-span-6.sm-span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/parents_5.png" alt="Mobile mockup of kidcrowd's You're all set up page inside a phone screen.") 

      .grid-container
        .span-12
          p 
            strong  
              | 🗣️ Testimonial from Melissa Roberts: 
            br
            | "I’m blown away!!! Thank you so much Sophie. I’m so happy with everything you’ve done, I’m outstanded by your professionalism and as for the time frame :O"

      .grid-container
        .span-12
          figure
            img(src="/resources/images/case-studies/kidcrowd/yourcrowd_banner.jpg" alt="Mobile mockup of kidcrowd's Edwards Birthday Spend page inside a phone screen.")

    include ../includes/footer/footer-default.pug

  include ../includes/scripts.pug