/* CSS DOCUMENT */

/*

1. Fonts
2. Colors
3. Base Styles
4. Typography
5. Links & Buttons
6. Header
7. #1
8. #2
9. #3
10. #4
11. #5
12. Footer
13. Responsive Styles

*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:400,400i,700,700i');

/* Colors */
#color1 {background-color: #65d4cd;}
#color2 {background-color: #ffc763;}
#color3 {background-color: #7f87ac;}
#color4 {background-color: #f7767a;}
#color5 {background-color: #7edbf7;}

/* Base Styles */
body {
    font-family: 'Raleway', sans-serif!important;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.clear {clear: both;}
.wrapper {padding: 100px 0;}
.textWrapper {
    margin: 0 auto;
    text-align: center;
}
.heading {
    text-align: center; 
    margin-bottom: 40px;
}
#color1,#color2,#color3,#color4,#color5 h1 h2 h3 h4 h5 h6 p ul li {color: #2b2939;}
header, footer h1 h2 h3 h4 h5 h6 p ul li {color: #fff;}
.textAlignLeft {text-align: left;}
.textALignRight {text-align: right;}
.alignCenter {
    text-align: center; 
    margin: 0 auto;
}
.animatedText {margin: 170px auto;}
.element, .typed-cursor {
    white-space: nowrap;
    overflow: hidden;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Typography */
h1 {
    font-family: 'Permanent Marker', cursive!important;
	font-size: 22px!important;
	color: #fff;
	text-transform: lowercase;
	letter-spacing: 2px;
    margin-left: 10px;
    margin-bottom: 0px!important;
}
h2{
    font-family: 'Permanent Marker', cursive!important;
	font-size: 75px!important;
	color: #fff;
	text-transform: lowercase;
    letter-spacing: 10px
}
h3 {
    font-family: 'Raleway', sans-serif!important;
	font-size: 26px!important;
    font-weight: 700!important;
	color: #fff;
    letter-spacing: 2px;
}
h4 {
    font-family: 'Permanent Marker', cursive!important;
	font-size: 30px!important;
	color: #fff;
	text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    width: 100%;
}

.subText {
    font-size: 20px;
    font-weight: 700;
}

/* Links & Buttons */
a {color: #000!important;}
a:hover, a.fLink:hover {
    text-decoration: none!important;
    color: #0b8b83!important;
    transition: all 0.6s ease;
}
.button {
    background-color: #0b8b83;
    margin: 40px 0;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
    transition: all 1s ease;
}
.button:hover {
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}
.button .btnText, .button .iconArrow {
    transition: all .6s;
    position: relative;
    left: 0px;
    right:0px;
}
.button:hover .btnText {left: -6px;}
.button:hover .iconArrow {left: 6px;}
.button p {
    color: #fff; 
    padding: 5px 20px;
}
a.fLink {
    font-family: 'Raleway', sans-serif;
    color: #e8f1f6;
    font-weight: bold;
    text-decoration: none;
    color: #fff!important;
}

/* Header */
header {
    background-image:url(../images/mainBanner.png);
    background-size: cover;
}
.header {padding: 20px 0;}
.profileImg, .profileText {
    display: inline-block;
    vertical-align: middle;
}
.profile img {
    border-radius: 50%;
    width: 50px;
}
.subTitle {
    font-size: 12px;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.tagline p {
    font-family: 'Permanent Marker', cursive!important;
	font-size: 18px!important;
	color: #fff;
	text-transform: lowercase;
}

/* #1 */

/* #2 */

/* #2 & #5 */
.promoBox {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
    margin: 20px 10px 0;
    cursor: pointer;
    transition: all 1s ease;
}
.promoBox:hover {
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.3);
    transform: translateY(-10px);
}
.promoBox p {text-transform: uppercase;}
.promoCircle {
    background-color: #0b8b83;
    border-radius: 60%;
    height: 100px;
    width: 100px;
    margin: 20px auto;
}
.promoCircle img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

/* #3 */
.workBox {
    display: inline-block;
    transition: all 1s ease;
}
.workBox img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
    margin: 20px 10px 0;
    transition: all 1s ease;
}
.workBox img:hover {
    box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.3);
    transform: translateY(-10px);
}

/* #4 */

/* #5 */

/* *! Footer */
footer {background-color: #2b2939;}
footer p {
    font-size: 12px;
    color: #acacad;
    text-transform: capitalize;
    margin: 10px 20px;
    display: inline-block;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    /* #3 */
    .workBox {max-width: 40%!important;}
}
@media screen and (max-width: 994px) {
    /* #2 & #5 */
    .promoBox {max-width: 40%!important;}
}
@media screen and (max-width: 770px) {
    /* Base Styles */
    .textAlignLeft {text-align: center; margin: 0 auto;}
    .textALignRight {text-align: center; margin: 0 auto;}
    .animatedText {display: none;}
    /* Header */
    .header {
        padding: 40px 0;
    }
    .profile {
        margin: 0 auto;
        text-align: center;
    }
    .profileImg, .profileText {display: block;}
    .tagline {display: none;}
    /* #3 */
    .workBox {max-width: 100%!important;}
    .workBox img {margin: 20px 0px 0;}
}
@media screen and (max-width: 500px) {
    /* #2 & #5 */
    .promoBox {max-width: 100%!important; margin: 20px 0px 0;}
}
@media screen and (max-width: 350px) {
    /* Footer */
    .menu {display: none;}
}