/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* GRID */
* {
    box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 0 20px;
}
.col-4{width:33.333333%;}
.col-6 {width: 50%;}
.col-8{width:66.666667%;}
.col-12 {width: 100%;}

/* BASE */
body {
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  background-color: #E8EDEE;
  color: #363839;
  word-wrap: break-word;
}
#container  {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clear {clear: both;}

/* TYPOGRAPHY */
h1 {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 10px;
}
h1 span.name {
  font-size: 22px;
}
a {
  color: #363839;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:focus {
  border: 2px solid #426d92;
}

/* BUTTONS */
.workButtons {
  display: inline-block;
  margin: 20px auto;
}
.button {
  border: 2px solid #363839;
  border-radius: 4px;
  padding: 10px;
  margin: 0 10px 0 0;
}
.button:first-child {
  margin: 0 10px 0 0;
}
.button:hover, .button:focus {
  border: 2px solid #426d92;
}
a.button {
  color: #363839;
  text-decoration: none;
}

@media screen and (max-width: 1070px) {
  .col-8 {
    width: 100%;
  }
  .col-4 {
    display: none
  }
}

@media screen and (max-width: 700px) {
  .workButtons {
    width: 100%;
  }
  .button {
    display: block;
    width: 100%;
    margin: 5px 10px 5px 0;
  }
  
  .button:first-child {
    margin: 5px 10px 5px 0
  }
  .socialIcons {
    margin-top: 0px;
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  #container {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    margin: 40px 0;
  }
}
