/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
  font-family: Reey-Regular;
  src: url('../fonts/Reey-Regular.eot');
  src: url('../fonts/Reey-Regular.woff2') format('woff2'),
       url('../fonts/Reey-Regular.woff') format('woff'),
       url('../fonts/Reey-Regular.ttf') format('truetype'),
       url('../fonts/Reey-Regular.svg#Reey-Regular') format('svg'),
       url('../fonts/Reey-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* grid */
* {
    box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
}

.col-6 {width: 50%;padding: 20px;}
.col-12 {width: 100%;padding: 20px;}

/* base styles */
body {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    word-wrap: break-word;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
}

.clear {clear: both;}

.bullet li {padding: 6px 0;}

/* typography */
.line {
    border-left: 4px solid #fff;
}

h1 {
    font-family: 'Reey-Regular';
    font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 6px;
    margin-left: 20px;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Montserrat';
	font-size: 44px;
	color: #fff;
	text-transform: lowercase;
    letter-spacing: 3px;
    margin: 50px 0;
}

h3 {
    font-family: 'Reey-Regular';
	font-size: 30px;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 6px;
	margin: 0 0 10px 0;
}

h4 {
    font-weight: 700;
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 3px;
    margin-left: 20px;
}

h5 {
    font-weight: 700;
	font-size: 16px;
	color: #fff;
	letter-spacing: 2px;
}

h6 {
    font-weight: 700;
	font-size: 12px;
	color: #acacad;
	letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
}

p {
    font-size: 16px;
    color: #e8f1f6;
}

.date {
    font-size: 13px;
    color: #acacad;
    margin: 10px 0;
}

.animatedText {
	margin-top: 50px
}

.element, .typed-cursor {
    white-space: nowrap;
    overflow: hidden;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* links */
.button {
    margin: 10px 10px 0 0;
    display: inline-block;
    border: 2px solid #fff;
}

.button p {margin: 10px 20px;}

a {
    text-decoration: none;
}

a.link {
    font-family: 'Montserrat', sans-serif;
    color: #e8f1f6;
    font-weight: bold;
    text-decoration: none;
}

a.linkSm {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #acacad;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

a.newLink {
    font-weight: 700;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
    text-decoration: none;
}

.newLink ul {
    padding: 0 20px;
    margin: 5px 0;
}

a.link:hover, a.linkSm:hover, a.newLink:hover {
    color: #fae7d9;
}

.returnBtn img, .returnBtn h6 {
    display: inline-block;
    vertical-align: middle;
}

/* states */
a.ongoing, a.completed, a.shutdown {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    font-style: normal;
}

a.ongoing {
    background-color: #3F3D4E;
    color: #e8f1f6;
}

a.completed {
    background-color: #166516;
    color: #e8f1f6;
}

a.shutdown {
    background-color: #e64543;
    color: #e8f1f6;
}

/* header */
#header {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #2b2939; 
}

.headerWrapper {max-width: 1224px; margin: 0 auto;}

.profileImg, .profileText {
    display: inline-block;
    vertical-align: middle;
}

.profileText {margin: 0 0 0 10px;}

.profile img {
    border-radius: 50%;
    width: 50px;
}

.mainTitle {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
}

.subTitle {
    font-family: 'Reey-Regular';
    letter-spacing: 2px;
    font-size: 13px;
    font-style: italic;
    margin: 0 0 5px 0;
}

.socialIcons {text-align: right;}

.socialIcons img {
    width: 15px;
    margin: 0 10px;
}

/* about */
#about {
    max-width: 1024px;
    margin: 120px auto 0; 
    overflow: hidden;
}

#about p {line-height: 22px;}

.aboutText .main {font-size: 18px;}

/* projects */
#achievements {
    max-width: 1024px;
    margin: 0 auto 100px; 
    overflow: hidden;
    float: none;
}

.achievementsList {
    margin-left: 20px;
}

/* footer */
footer {
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #2b2939; 
}

/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.footerWrapper {max-width: 1224px; margin: 0 auto;}

.rtn {
    margin: 8px 20px; 
    float: left;
}

.copyright {float: right;}

footer p {
    font-size: 12px;
    color: #acacad;
    text-transform: capitalize;
    text-align: right;
    margin: 10px 20px;
}

.rtn img, .rtn h6 {
    display: inline-block;
    vertical-align: middle;
}

/* media queries */
@media screen and (max-width: 635px) {
    /* links */
    .rtn, .copyright {
        float: none;
        text-align: center;
    }
    
    /* footer */
    .copyright p {text-align: center;}
    
    /* header */
    .profile, .socialIcons {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0 10px 0;
    }
    .profileImg, .profileText {
        display: block;
        margin: 0;
    }

    .socialIcons {text-align: center;}
    
    /* about */
    #about {
        margin: 140px auto 0; 
    }
}