// Accessibility Specific Footer

footer
  .grid-container
    .span-12
      hr
  .grid-container
    .span-6.md-span-12
      p
        a(href="index.html") Return to home page
    .span-6.md-span-12.align-right.md-align-left
      p
        | &copy; Copyright
        script.
          document.write(new Date().getFullYear())
        |  Sophie Thomas