doctype html
html(lang="en")
    head
        title='By Any Means: Series Review: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='By Any Means is a crime drama TV show that was aired on BBC One at 9pm on Sundays. The TV show focused on the dealings of the underground justice department based in London.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 By Any Means: Series Review
                p.date: em Published: 28th October 2013
                
                div.articleContent
                    p By Any Means is a crime drama TV show that was aired on BBC One at 9pm on Sundays. The first episode was aired on Sunday 22nd September 2013 and attracted 4.11 million views (16.4% of the viewing audience).
                    p The TV show focused on the dealings of the underground justice department based in London. The team was created by someone within the police, existing in the ‘grey area’ getting criminals otherwise untouchable by the Police.
                    img(src="../assets/images/articles/2013/by-any-means.jpg" alt="By Any Means cast" class="post-img")
                    p Last night (27th October) we saw the finale of the first series of By Any Means which saw the team take on another criminal who murdered a child in a car park and selling drugs to underage kids. Throughout the episode it looked the team wouldn’t be able to catch the bad guy but right at the end the plan came to together and we were left sitting on the edge of our seats to see whether Jack would shoot him or not. Like all good television shows we have been left we yet more cliffhangers which we all so desperately want answers to.
                    p Is this show too repetitive? Well, some may say it is as each week the episode has the same structure. However, the storyline changes every week which does make some people want to see what they get up to in the following week. But this same structure can put many people off. A few reviews have said the show just didn’t stand out.
                    p In my opinion, I thought this series was spectacular and was very gripping and I feel it deserves more ratings that it has been given (6.1/10 on IMDb). I do hope there will be another series of By Any Means and I certainly will be tuning in if they do.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2013-10-28-by-any-means-review.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2013-10-28-by-any-means-review.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade