doctype html
html(lang="en")
    head
        title='Hello: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Hello and welcome to my blog. This is a place where I will be sharing my thoughts on events I have been too as well as writing about other topics such as Web Design and Development and doing TV Reviews.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade
            
            div#articleList.col-12
                div.line: h1 hello
                p.date: em Published: 27th October 2013
                
                div.articleContent
                    p Hello and welcome to my blog. This is a place where I will be sharing my thoughts on events I have been too as well as writing about other topics such as Web Design and Development and doing TV Reviews.
                    img(src="../assets/images/articles/2013/me.jpg" alt="me" class="post-img-og")
                    h5 Let me introduce myself...
                    p I love splitting my time between working on projects relating to the world of Web Design and socialising with my friends and family. Over the years of splitting my time between these two things I believe I have a very good work and social life balance.
                    p My interest in the field of Web Design sparked in the final years of High School, which prompted me to do a course related to Information Technology. While doing this course I quickly found an interest in the creative units and found a passion for Web Design. As I continue to be immersed in the Web Design world I have become a big believer in side projects as these allow me to try new things and learn new skills. 
                    p Thank you for taking the time to visit my blog and I hope you enjoy the posts I publish in the future.
                    p - Sophie :)
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2013-10-27-hello.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2013-10-27-hello.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade