doctype html
html(lang="en")
    head
        title='IT Classroom Assistant: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='On Wednesday 9th and Thursday 10th of July, I went to Selby College to help out on the discovery days for Year 10’s as a classroom assistant within the Information Technology department.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 IT Classroom Assistant
                p.date: em Published: 20th July 2014
                
                div.articleContent
                    p On Wednesday 9th and Thursday 10th of July, I went to Selby College to help out on the discovery days for Year 10’s as a classroom assistant within the Information Technology department.
                    p Over the two days, I helped keep the students focused on the task they’d been set and helped them if they didn’t quite understand what they had to do. This meant talking to both the tutors and the students.
                    p On the first day, I felt it was quite boring as I don’t think they really knew I was coming or what to do with me. However in the afternoon session, I did talk to a few students about what they wanted to do after school and showed one student a technique in Photoshop. I also feel that I learned something new while helping out as the task that they had to do on Photoshop was something I had not done before.
                    p The second day was much better as I feel that I really did help out. This is because I helped two students that really did not want to be there to get the work done and stay focused on the task. As well as this, I think that I was able to speak to the students more easily on the second day. The one thing that did surprise me is the number of students that were able to code in Python.
                    p Overall, I feel I did really well as a classroom assistant on these two days at Selby College. I enjoyed the second day more than the first but I did learn some new techniques on Photoshop and helped students stay focused on the task they were set.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2014-07-20-it-classroom-assistant.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2014-07-20-it-classroom-assistant.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade