doctype html
html(lang="en")
    head
        title='Work Placement at Space Creative: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='To enhance my knowledge and to gain industry experience I was given the opportunity to go out on work placement for 1 week as part of my College course.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Work Placement at Space Creative
                p.date: em Published: 15th July 2015
                
                div.articleContent
                    p To enhance my knowledge and to gain industry experience I (as well as the other students on the course) was given the opportunity to go out on work placement for 1 week as part of my College course. With the help of the Head of IT, I got an interview at Space Creative who were happy for me to come and do my work placement with them one day a week for an indefinite period of time. In total, I was at Space Creative for 15 weeks.
                    p While I was at Space Creative, I worked alongside Martin and Alex developing websites and e-newsletters. In the final weeks of being there, I started working on their website re-design.
                    p There were a few things that I wanted to achieve while I was at Space Creative. These goals were:
                    ul.bullet
                        li Work well in an industry environment and as part of a team.
                        li Improve my Web Design and Development skills.
                        li Learn how to use Premier Pro (Video Editing Software).
                        li Learn how to use a CMS (Content Management System).
                    p Although I didn’t achieve all these goals I did really enjoy my time at Space Creative and feel as though I got a lot out of the experience.
                    p By going to Space Creative I did gain industry experience which is extremely valuable as it shows that I am capable of working in that environment and completing tasks that meet the needs of a client. While doing these projects I learned some new skills like being able to develop a website for Concrete 5 (a content management system) and improved on the ones I already had. Below is a quick list of the things I learned while at Space Creative:
                    ul.bullet
                        li I learnt how to develop someone else’s design / mockup of a website.
                        li I learnt how to use the CMS Concrete 5.
                        li I learnt and used the Responsive Grid System within a website project.
                        li I learnt how to create an image overlay effect using CSS.
                        li I learnt how to create E-Newletters and how to set them up using MailChimp.
                    p I also believe that my confidence improved as I was able to speak to all the team members and I didn’t feel scared to ask for help when I was stuck or unsure about something.
                    p Overall I feel that my time at Space Creative was worthwhile and I am grateful to have been given the opportunity to do my work placement with them.
                    
                    br
                    
                    p: em #[a(href="http://www.spacecreative.co.uk/" target="_blank" class="link") Space Creative] are a Graphic Design studio in Escrick (near York) who specialises in Graphic Design, Branding, Advertising, Website Design and Development.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2015-07-15-work-placement-at-space-creative.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2015-07-15-work-placement-at-space-creative.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade