doctype html
html(lang="en")
    head
        title='Google: Re-Designed: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Google has been evolving for over 17 years and last week they revealed their new logo. However, with many people not noticing the change or caring about it, was the re-design really necessary?')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Google: Re-Designed
                p.date: em Published: 4th September 2015
                
                div.articleContent
                    p Google has been evolving for over 17 years and last week they revealed their new logo. However, with many people not noticing the change or caring about it, was the re-design really necessary?
                    img(src="../assets/images/articles/2015/google.jpg" alt="Google Logo" class="post-img")
                    p Personally, I believe so as they've managed to develop their brand by combining multiple elements in their identity for different services and platforms. These elements include The Google Logotype, The Dots and The Google G.
                    p The little changes Google has made over the years is what I really like about the process in how Google has evolved their brand. These small changes have impacted the look and feel of the tools and services created and provided by them as well as the experience we get.
                    p All of these elements are used within their brand to achieve their goal of taking the world’s information and making it universally accessible and useful.
                    p To conclude I believe that through all of this Google has yet again improved their brand as well as helping us understand Google more through design and interaction.
                    
                    br
                    
                    p What are your thoughts on the new Google Logo? Let me know in the comments below.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2015-09-04-google-redesigned.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2015-09-04-google-redesigned.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade