doctype html
html(lang="en")
    head
        title='Don’t compare your chapter 1 to someone else’s chapter 20!: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='I saw this quote ‘Don’t Compare Your Chapter 1 To Someone Else’s Chapter 20’ the other day and felt like I could totally relate to it but why do I seem to be incapable of taking this quote on board?')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Don’t compare your chapter 1 to someone else’s chapter 20!
                p.date: em Published: 1st February 2015
                
                div.articleContent
                    p I saw this quote ‘Don’t Compare Your Chapter 1 To Someone Else’s Chapter 20’ the other day and felt like I could totally relate to it but why do I seem to be incapable of taking this quote on board?
                    img(src="../assets/images/articles/2015/dont-compare.jpg" alt=" " class="post-img")
                    p I do a lot of things in my day to day life such as attending college, writing these posts, coding websites, filming Web Design tutorials, working once a week and going to the gym. Yes, I have filled up my days with doing the things I enjoy and even though I enjoy doing all of these things I still seem to be disappointed in what I have done because there is something out there that is better.
                    p I know, I should never think like that and I am not saying that I have never been proud of what I have done because I am but I always want to do better which I suppose isn’t a bad thing.
                    p Over this past year I have found something I love doing and have learnt a lot about that specific interest and learnt so much by myself through my own motivation and determination but there is much more that can be learnt.
                    p I think what I am trying to say to myself through all of this is that I don’t need to compare myself to anyone else as I'm on my own journey. My journey is never going to be the same as someone else’s because we all make different choices and we are all in different stages of our lives.
                    p If you're in the same boat as me then remember that we are on our own path and that over time you'll be able to learn and develop the skills needed to be where you want to be.
                    p Don’t compare yourself to anyone else too because we all have our own unique journey and story that we should be proud of.
                    
                    br
                    
                    p I hope this post helps you in achieving your goals and stops you worrying (even if it's only a little) about what other people are doing.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2015-02-01-dont-compare-your-chapter-1.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2015-02-01-dont-compare-your-chapter-1.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade