doctype html
html(lang="en")
    head
        title='My New Year Resolutions (2015): The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='It’s a new year so for the first time I’m going to set myself some goals I want to achieve this year.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 My New Year Resolutions (2015)
                p.date: em Published: 10th January 2015
                
                div.articleContent
                    p It's a new year so for the first time I'm going to set myself some goals I want to achieve this year.
                    p: strong Number 1 - Contuine with my blog
                    p In 2015 I want to continue with this blog, writing more and better quality posts for you all. Another thing I would like to see on my blog is collaborations with other bloggers.
                    p: strong Number 2 - Contuine producing YouTube videos
                    p I want to continue producing YouTube videos on my Web Design channel #[a(href="https://www.youtube.com/user/STWebDesigner" target="_blank" class="link") STWebDesigner]. With these videos, I hope to make the quality of them better this year.
                    p: strong Number 3 - Gain more knowledge in the Web Design world
                    p In 2015 I hope to continue to develop my HTML and CSS knowledge as well as learn another coding language like JavaScript and PHP.
                    p: strong Number 4 - Read!
                    p I would like to have read at least one book by the end of 2015 as I haven’t read a book cover to cover in over a year now.
                    
                    br
                    
                    p What New Year Resolutions have you made? Comment them below.
                    p Thank you all for the support and taking the time to read my posts. I hope 2015 brings you all the happiness in the world.
                    
                    br
                    br
                    
                    p: strong Update
                    p Over the course of 2015, I tried to achieve all the goals I set myself. Unfortunately, I didn't manage to achieve all my goals.
                    p Firstly, I didn't read a book cover to cover. I did start a book but never finished it. Reading just isn't something I plan time for.
                    p However, I did continue with this blog and actually wrote 11 posts which is just shy of one post a month. A big achievement on my blog is that I interviewed designer Travis Neilson. You can read the interview here: #[a(href="2015-11-11-interview-with-travis-neilson.html" target="_blank" class="link") Interview with Travis Nelison].
                    p Speaking of continuing on with things, I produced 22 new videos over the course of 2015 on my Web Design YouTube channel.
                    p Furthermore, I did gain more knowledge in the Web Design world. Although I did not learn a new language I improved on my existing skills.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2015-01-10-new-year-resolutions-2015.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2015-01-10-new-year-resolutions-2015.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade