doctype html
html(lang="en")
    head
        title='What am I reading?: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Reading I hear you screaming!? Yes although it may seem shocking reading is something that most humans do even us students. Now as most of my family know I am not a big reader but recently I have found myself ordering books and reading them. These books aren’t the typical novel which is the type of books I really don’t read.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 What am I reading?
                p.date: em Published: 16th December 2015
                
                div.articleContent
                    p Reading I hear you screaming!? Yes although it may seem shocking reading is something that most humans do even us students. Now as most of my family know I am not a big reader but recently I have found myself ordering books and reading them. These books aren’t the typical novel which is the type of books I really don’t read.
                    p The books I have found myself reading are those relating to Web Design/Design Processes, Self-Promotion and Creativity. For those that don’t know I am studying Web Technologies and would love a career in Web Design which involves understanding the process and sharing my work to enhance my brand. So these books are not only an interesting read but are also helping me progress in the career I want.
                    h5 So what am I reading right now?
                    p I am currently reading a book called Show Your Work which gives you tips in sharing your work effectively and gaining an audience of people who want to view your work. I have only just started reading this book but I have already found it really useful. I would 100% recommend this book to anyone who is wanting to share their work but don’t know how to.
                    p I have a few other books that I have already read and some that are awaiting to be read. These include A Non-Designers Guide To Design, Steal Like An Artist and Wally Olins On Brand.
                    img(src="../assets/images/articles/2015/books.jpg" alt="Books" class="post-img")
                    p Reading is something that I do very little of but I have thoroughly enjoyed the books I have been reading these past few days.
                    
                    br
                    
                    p What are you reading? Let me know in the comments below.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2015-12-16-what-am-I-reading.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2015-12-16-what-am-I-reading.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade