doctype html
html(lang="en")
    head
        title='My Goals for 2016: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='It’s that time of year again… ‘New Year, New Me’ and for us all to set ourselves some goals for the upcoming year. So here are the goals I have set myself to accomplish this year.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 My Goals for 2016
                p.date: em Published: 1st January 2016
                
                div.articleContent
                    p It’s that time of year again… ‘New Year, New Me’ and for us all to set ourselves some goals for the upcoming year. So here are the goals I have set myself to accomplish this year.
                    p: strong Goal 1 — Refine my brand
                    ul.bullet
                        li Create and refine my logo to make it stand out and represent myself.
                        li Re-design my portfolio website to make it easier to update, add and remove content. I also want it to be more appealing and accessible.
                        li Regarding my portfolio website I would also like to merge my blog, which is currently separate to my portfolio website, onto my portfolio website.
                        li Publish a blog post every month.
                        li Complete all outstanding projects from 2015. Once completed write a case study for them and publish them onto my portfolio.
                    p: strong Goal 2 — Gain more knowledge about Web Design and Development
                    ul.bullet
                        li Learn Wordpress.org and how to create a website for a client using it.
                        li Learn the basics of JavaScript and apply it to a project.
                    p: strong Goal 3 - Read more books
                    ul.bullet 
                        li Read at least two books in 2016 that will inspire me creativity and enhance my knowledge of the Web Design industry.
                    p All of my goals are easily measureable in whether I have achieved them.
                    p Have you set any goals for this year? If you have be sure to let me know in the comments below.
                    p I would like to quickly thank all of you that take the time to read my blog posts and follow the other work I do and all the support you have given me. Here’s to another awesome year!
                    br
                    br
                    p See my Look back at 2016 article to see what I actually achieved throughout 2016! #[a(href="2017-01-01-review.html" class="link") View blog post]

                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2016-01-01-my-goals-for-2016.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2016-01-01-my-goals-for-2016.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade