doctype html
html(lang="en")
    head
        title='How can I increase my productivity?: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Have you ever felt like you have no time? Or that you don’t have enough time to complete the tasks you need to? Maybe you’ve been given an assignment and the deadline is 3 weeks away and you don’t know how you are going to get everything done?')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 How can I increase my productivity?
                p.date: em Published: 23rd March 2016
                
                div.articleContent
                    p Have you ever felt like you have no time? Or that you don’t have enough time to complete the tasks you need to? Maybe you’ve been given an assignment and the deadline is 3 weeks away and you don’t know how you are going to get everything done?
                    p Well today I am going to be sharing a tip that has helped me and will help you in being more productive.
                    img(src="../assets/images/articles/2016/increase-productivity.gif" alt="Productivity" class="post-img")
                    p Scheduling what and when you are going to do a task is more than likely going to increase your productivity within that day. This is because you are writing down when the task will be started and when you will stop doing it, you are giving it a deadline. It also allows you to solely focus on that task which will allow you to fully concentrate on completing that certain task.
                    p So how do I do it?
                    p At the end of each day, or at the start if you prefer put the tasks you need to complete next to a time. For example a schedule could be between 1pm and 2pm I will do task 1, between 2:15pm and 3:45pm I will do task 2 and between 4pm and 5pm I will do this task and so on. In between tasks there is time to have some down time and there is no harm in scheduling down time into your schedule. Down time could include having a snack, watching TV, going a walk or socialising with friends. This allows me to switch off and recharge so I am able to refocus for the next task.
                    p I personally find when I do this myself all those tasks get completed on that day. So if you are struggling to get your work done or work to do for a deadline I suggest you give this ago.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2016-03-23-increase-productivity.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2016-03-23-increase-productivity.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade