doctype html
html(lang="en")
    head
        title='Life as a student: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Life as a student is never easy. The work load, making friends and of course all the challenges you will face. However it’s not all doom and gloom as being a student can be enjoyable!')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Life as a student
                p.date: em Published: 20th January
                
                div.articleContent
                    p Life as a student is never easy. The work load, making friends and of course all the challenges you will face. However it’s not all doom and gloom as being a student can be enjoyable!
                    p For me being a student has been a journey of trying new things, learning new skills, exploring a new city, making new friends and living with different people. It’s been tough at times but getting through those times has improved my confidence. It has allowed me to move away from home and in doing so I have learnt so many new skills such as managing my money and cooking for myself.
                    p This is why, for me, being a student is enjoyable.
                    
                    br
                    br
                    
                    p: em This post was originally written for an interview.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2016-01-20-life-as-a-student.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2016-01-20-life-as-a-student.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade