doctype html
html(lang="en")
    head
        title='Make Ideas Happen!: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='We all have many ideas. I have tons of them. But how many of those ideas do we actually make happen?')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Make Ideas Happen!
                p.date: em Published: 20th August 2016
                
                div.articleContent
                    p We all have many ideas. I have tons of them. But how many of those ideas do we actually make happen?
                    code It’s not about ideas. It’s about making them happen.
                    p I know from my own personal experience that thinking of ideas isn’t the hard part. It’s actually acting upon that idea. Just this last month I’ve thought up many ideas which I could have done but they haven’t been anything more than an idea because I’ve failed to act upon them.
                    p But why is this?
                    p Getting started is the biggest challenge. So instead of just doing it we make reasons to why the idea sucks. These reasons can be anything from I don’t have the time, I don’t have the skills or the biggest issue I face which is what will people think of me if I do this. I’ve personally found that the fear of those things have held me back and stopped me acting on ideas I have had.
                    code Be you and don’t care what everyone else thinks!
                    h5 Let's set a challenge!
                    p Pick an idea that you’ve wanted to act upon but haven’t and take the steps needed to make it happen.
                    p I set myself the challenge to start making speedart videos on my YouTube Channel. By setting myself this challenge I made it a priority to create and publish one.
                    p Check the video here: #[a(href="https://www.youtube.com/watch?v=PDpI-EojXz8" target="_blank" class="link") First ever speedart video]
                    p Keep me up to date with the progress you’re making on the idea you’ve chosen to act upon in the comments below. Thanks for reading. :)
                    br
                    br
                    p: strong Update
                    p I am now continuing creating speedart video over on my Web Design YouTube channel, #[a(href="https://www.youtube.com/user/STWebDesigner" target="_blank" class="link") STWebDesigner]. Check out the playlist here: #[a(href="https://www.youtube.com/playlist?list=PLqerRVSEB3ng8fglgLLtCwcHfFqlfaegb" target="_blank" class="link") Speedart Videos playlist]
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2016-08-20-make-ideas-happen.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2016-08-20-make-ideas-happen.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade