doctype html
html(lang="en")
    head
        title='Should you use a Website Builder?: The Portfolio of Sophie Thomas'
        include ../_includes/head.jade
        meta(name='twitter:description', content='Over the past two years, I have been learning the fundamentals and different aspects of web design which in doing so I have done many projects both fictitious and for clients which were either created using a website builder, with a framework or hand-coded.')
        link(rel='stylesheet', href='../assets/css/main.css', type='text/css')
        meta(name='twitter:image', content='http://sophiethomas.co.uk/assets/images/author.jpg')

    body
    
        div.siteBorders
        
        div#container
        
            include ../_includes/header.jade

            div#articleList.col-12
                div.line: h1 Should you use a Website Builder?
                p.date: em Published: 21st May 2016
                
                div.articleContent
                    p Over the past two years, I have been learning the fundamentals and different aspects of web design which in doing so I have done many projects both fictitious and for clients which were either created using a website builder, with a framework or hand-coded.
                    p Through doing these I have realised and learnt a lot of things even in these few years. I have also formed my own opinions on aspects of the web design industry. One being whether website builders should be used.
                    p Even though website builders can be a huge help to some people and have been improved vastly over the years I personally don’t think they allow as much customisation and flexibility with the design of the website.
                    p This limitation means that comprises may have to happen that could affect a big aspect of the website whether that is the design or the way in which it flows.
                    p I would suggest to only use a website builder as a last option. If you have to use a website builder, whether that is due to not being able to afford to hire someone or you not having the skills to hand-code one yourself, I would suggest really looking into all the website builders out there to find one that you understand and works well for the website you are creating.
                    p To conclude, you can use website builders but I would make sure that route is the best option for you and the website you are wanting before diving in.
                        
                div.share
                    div.line: h4 share this on
                    div.socialShare
                        a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sophiethomas.co.uk/articles/2016-05-21-should-you-use-a-website-builder.html" target="_blank"): img(src="../assets/images/icons/facebook.png" alt="Share on Facebook")
                        a(href="https://twitter.com/home?status=http%3A//sophiethomas.co.uk/articles/2016-05-21-should-you-use-a-website-builder.html%20via%20%40SophieThomas97" target="_blank"): img(src="../assets/images/icons/twitter.png" alt="Share on Twitter")
            
            include ../_includes/footerrtn2.jade
            
    include ../_includes/scripts.jade